# python ka chilla with baba Ammar
## how to use jupytor notebook
## basics of python

### **01- my first program**

In [1]:
# My_First Program in Python
print("2+3")
print("hello word")
print("we are learning python with Ammar")

2+3
hello word
we are learning python with Ammar

### **02-operators**

In [2]:
print(2+3)
print(3-2)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(2**3)
print(3**2/4*5+8-2)
print((3**2)*5/4*5+8-2)

5
1
3.0
6
1
3
8
17.25
62.25

*PEMDAS*
*prenthesis,exponanats, multiply, division, addition,subtraction*
*left to right sequence for  M D & A S*

### **03-strings**

In [3]:
print(2+3)
print("hello word")
print("hi")
print(' Test for single qoute')
print(" test for double qoute")
print(''' test for triple qoute''')
print("   what are you doing   ????")
print("sea_creatures")

5
hello word
hi
 Test for single qoute
 test for double qoute
 test for triple qoute
   what are you doing   ????
sea_creatures

### **04-comments**
the shortcut key to comments is **ctrl+/**

In [4]:
print("hello word")
print("hi")
print(' Test for single qoute')
print(" test for double qoute")
print(''' test for triple qoute''')
print("   what are you doing   ????")
print(2+3)  #using operator function

hello word
hi
 Test for single qoute
 test for double qoute
 test for triple qoute
   what are you doing   ????
5

### **05-variables**

In [5]:
#variables: objects containing specific values
x = 5 # numeric or integer variables
print(x)
y="we are learning python with ammar" #string variable
print(y)
x=15
print(x)
x=x+10 #or x=15
#types or class of variables
type(x)
print(type(x))
print(type(y))


#Rules to assign variables
# 1- variables should contain letters, number or underscores
# 2- Dont start with numbers
# 3- Spaces are not allowed
# 4- Dont use keywords in fucntions (break, mean,media,test etc)
# 5- short and descriptive
# 6- case senstive (lowercase uppercase letter lowercase letter should be used)


fruit_basket= 8
fruit_basket= "Mangoes"
print(type(fruit_basket))
print(fruit_basket)

5
we are learning python with ammar
15
<class 'int'>
<class 'str'>
<class 'str'>
Mangoes

### **06-input_variables**

In [6]:
fruit_basket= "mangoes"
print(fruit_basket)

#input function
fruit_basket= input("what is your favourite fruit ? ")
print(fruit_basket)

#input function 2nd stage



name=input("what is your name ? ")
greetings= "hello !"
print(greetings, name)

#anotherway of 2nd stage functions
name=input("what is your name ? ")

print("hello !", name)

#3rd function

name= input("what is your name? ")
age= input("how old are you? ")
greetings= "hello !"
print(greetings, name, " ,You are still young")

mangoes
what is your favourite fruit ? Mangoes
Mangoes
what is your name ? Amir
hello ! Amir
what is your name ? Amir
hello ! Amir
what is your name? Amir
how old are you? 30
hello ! Amir  ,You are still young

### **07-Conditional Logics**

In [7]:
#logical operators are  true or false or yes or no or 0 or 1
#equal to                       ==
#not equal to                   !=
# less than                        <
# greater than                     >
# less than and equal to           <=
# greater than and equal to        >=

print(4==4)
print(4!=4)
print(4>3)
print(5>=4)
#application of logical functions
hammd_age=4
age_at_school=5
print(hammd_age==age_at_school)

#input function and logical operators

age_at_school=4
hammad_age=input("how old is hammad? ") #input function
hammad_age=int(hammad_age)
print(type(hammad_age))

print(hammad_age==age_at_school) #logica; operator

True
False
True
True
False
how old is hammad? 25
<class 'int'>
False

### **08-Type Conversion**

In [8]:
x=10.2
y=10
z="hello"
print(type(x))
print(type(y))
print(type(z))

#implcit type conversion
x=x+y
print(x, "type of x is:", type(x))

#explcit type conversion
age=input("what is your age? ")
# age=int(age)
print(age, type(int(age)))

name=input("what is your name? ")
print(name, type(str(name)))

<class 'float'>
<class 'int'>
<class 'str'>
20.2 type of x is: <class 'float'>
what is your age? 30
30 <class 'int'>
what is your name? Amir
Amir <class 'str'>

### **09-If_Else_Elif**

In [9]:
hammad_age = 4
required_age_at_school = 5

#question: can hammad go to school?

if hammad_age == required_age_at_school:
    print("congratulations hammad can join the school") 
elif hammad_age > required_age_at_school:
    print(" hammad should join higher school")
elif hammad_age == 2:
    print("take care of hammad, he is is still a baby")
else:
    print("hammad cannot go to school")

hammad cannot go to school

### **10-Functions**

In [10]:
# define #functions

def print_codanics():
    print("we are learning with ammar")
    print("we are learning with ammar")
    print("we are learning with ammar")

print_codanics()

def print_codanics():
    text = "we are learning with ammar in codanics youtube channel"
    print(text)
    print(text)
    print(text)

print_codanics()

def print_codanics(text):
    print(text)
    print(text)
    print(text)

print_codanics("we are learning with ammar")

#defining a function with if, else and elif statements

#defining a future function

def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_prdicted_age= future_age(28)
print(future_prdicted_age)

we are learning with ammar
we are learning with ammar
we are learning with ammar
we are learning with ammar in codanics youtube channel
we are learning with ammar in codanics youtube channel
we are learning with ammar in codanics youtube channel
we are learning with ammar
we are learning with ammar
we are learning with ammar
48

### **11-Loops**

In [11]:
#while loops and for loops
#whil loops

#from ast import While


x=0
while(x<=5):
    print(x)
    x=x+1

for x in range(5,10):
    print(x)

0
1
2
3
4
5
5
6
7
8
9

### **12-Import Libraries**

In [12]:
#if you want to print the value of pi

import math
print("The value of pi is ", math.pi)

import statistics

x=[150,250,350,450]
print(statistics.mean(x))

#numpy pandas

The value of pi is  3.141592653589793
300

### **13-Troubleshooting**

In [13]:

# print("we are learning python with ammar") #syntax error

# print(25/0) #runtime error

name= "Ammar"

print("hello"+name) #symentic error

#troubleshooting is easy

helloAmmar